.accordionItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
}

.accordionHeader {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem 0;
  cursor: pointer;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  font-size: 2rem;
  font-style: italic;
  transition: 0.2s;
  color: var(--gray-900);
  border-color: var(--gray-200);
  background-color: var(--gray-100);
  gap: 2.5rem;
}

.accordionHeader:hover {
  background-color: var(--gray-300);
}

.accordionHeader svg {
  size: 0.6rem;
}

.accordionContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0.5rem 0 1rem 0;
  background-color: var(--gray-200);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  animation: 0.3s ease-in-out;
  color: var(--gray-900);
  gap: 1.6rem;
}