.acordeao-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  /* Espaço entre os acordeões */
}

.acordeao-item {
  flex: 1 1 200px;
  /* ou um valor fixo, ex: 250px */
  min-width: 200px;
  max-width: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  /* Importante para a transição */
}

.acordeao-cabecalho {
  padding: 15px;
  background-color: #d9d9d9;
  color: #000;
  cursor: pointer;
  /* Para indicar que é clicável */
}

.acordeao-corpo {
  padding: 0 15px;
  /* Define o padding horizontal */
  max-height: 0;
  /* A altura inicial é 0 para estar fechado */
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  /* Adiciona uma transição suave */
}

/* Classe para quando o acordeão estiver aberto */
.acordeao-corpo.aberto {
  max-height: 1000px;
  /* Defina uma altura que seja suficiente para o seu conteúdo */
  padding: 15px;
  /* Adiciona o padding quando estiver aberto */
}