.accordionItem {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 0;
}

.accordionContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0 0 1.2rem 1.2rem;
  gap: 1.2rem;
  background-color: var(--gray-900);
  color: var(--gray-100);
  animation: fadeIn 0.3s ease-out;
  overflow: hidden;
}

.accordionContent:hover {
  background-color: var(--primary);
}


.accordionHeader svg {
  width: 1.5rem;

  height: 1.5rem;
  transition: transform 0.3s ease;
}

.accordionContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background-color: var(--gray-200);
  border-radius: 0 0 1.2rem 1.2rem;
  gap: 1.2rem;
  color: var(--gray-900);
  animation: fadeIn 0.3s ease-out;
  overflow: hidden;
}

.accordionContent input {
  color: var(--gray-100);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .accordionHeader {
    padding: 0.8rem;
    gap: 1rem;
    font-size: 1.4rem;
  }

  .accordionHeader svg {
    width: 1.2rem;
    height: 1.2rem;
  }

  .accordionContent {
    padding: 0.8rem;
    gap: 1rem;
  }
}